<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron mt-4">
                <h1 class="display-4">Whatcha Cookin'</h1>
                <p class="lead">Find, save, and post your own favorite recipes</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-sm" href="/recipes/new" role="button">Add a recipe</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-deck">
        <% recipe.forEach((recipe) => { %>
            <div class="col-lg-3 col-md-6 col-sm-12 test-col">
                <a href="/recipes/<%=recipe._id%>">
                    <div class="card">
                        <img src="<%=recipe.image%>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= recipe.title %></h5>
                            <p class="card-text"><%= recipe.description.substring(0, 30) + '...' %></p>
                            <a href="/recipes/<%=recipe._id%>/edit" class="btn btn-sm btn-warning">Edit</a>                 
                            <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST" class="btn-inline">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>                

                        </div>
                    </div>
                </a>
            </div>
        <% }) %>
        </div>



    </div>
    
</div>

<% include partials/footer %>