<% include ../partials/header %>

<header>
    <div class="container">
        <div class="header--flex">
            <div class="header--title">Whatcha Cookin'</div>
            <form class="header--search__form" action="/recipes" method="GET">
                <input class="header--search__input" name="search" type="text" placeholder="Search Recipes">
                <button class="header--search__button">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.22 23.059l2.839-2.838 11.353 11.353a2.007 2.007 0 0 1-2.838 2.838L19.22 23.06z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.414 23.414c4.898-4.9 4.898-12.841 0-17.74-4.899-4.899-12.841-4.899-17.74 0-4.899 4.899-4.899 12.84 0 17.74 4.899 4.898 12.841 4.898 17.74 0zm-2.13-2.13a9.533 9.533 0 0 0 0-13.481 9.533 9.533 0 1 0 0 13.482z" fill="#fff"/></svg>
                </button>
            </form>
            <a class="header--new-recipe__button" href="/recipes/new">New Recipe</a>


        </div>
    </div>
</header>
<div class="container">

        <!-- Check to see if there are recipes if returned from search input -->
        <% if(recipe.length > 0) { %>
        <!-- This will only be rendered if there is a query made from search input -->
        <% if(query !== null) { %>
            <h3><%= recipe.length %> results for <strong><%= query %></strong></h3>
            <a href="/recipes">View all recipes</a>
        <% } %>
    <div class="row">
        <div class="card-deck">
        
            <!-- render a card on Index page for each recipe -->
            <% recipe.forEach((recipe) => { %>
                <div class=" col-xs-12 col-sm-6 col-lg-3">
                    <a href="/recipes/<%=recipe._id%>">
                        <div class="card">
                            <div class="img-container" style="background: url('<%- recipe.image %>'); background-size: cover; background-position: center;"></div>
                            <div class="card-body">
                                <h5 class="card-title"><%= recipe.title %></h5>
                            <% if(currentUser && currentUser._id.equals(recipe.author.id)) { %>
                                <h6 class="card-subtitle u-alert">Your recipe</span></h6>
                            <% } else { %>
                                <h6 class="card-subtitle">created by: <%= recipe.author.username %></h6>
                            <% } %>

                                <div class="card-bot">
                                    <div class="card--bot__flex">
                                        <p><svg class="clock-icon" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <title>Cooking Time</title>
                                            <path d="M52 50.113V30h-5v23l21.65 12.5 2.5-4.33L52 50.113z" fill="#7d7d7d"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13 50c0-20.434 16.566-37 37-37s37 16.566 37 37-16.566 37-37 37-37-16.566-37-37zm37-31c-17.12 0-31 13.88-31 31 0 17.12 13.88 31 31 31 17.12 0 31-13.88 31-31 0-17.12-13.88-31-31-31z" fill="#7d7d7d"/></svg><%= recipe.time %></p>

                                    <div class="card--icons__container">
                                    <!-- only display if a user is logged in -->
                                    <% if (currentUser) { %>   
                                        <form action="/recipes/<%=recipe._id%>/favorite" method="POST" class="u-inline">

                                            <!-- We check to see if the recipe _id is being stored in the user's favorite's array of recipe _id's -->
                                            <% var isFavorited = currentUser.favorites.some((favorite) => { %>
                                                <% return favorite.equals(recipe._id); %>
                                            <% }); %>
        
                                            <!-- If recipe _id is in user's favorites, render heart icon with red fill, as opposed to just red stroke to indicate favorited recipes -->
                                            <% if(isFavorited) { %>
                                            <button class="favorite-btn favorite-active card-buttons">
                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <title>Remove From Favorites</title>
                                                    <path d="M17.292 8.116l.708.711.708-.71a7.14 7.14 0 0 1 10.173.025c2.817 2.855 2.825 7.484.026 10.35l-.686.702.026.026-10.218 10.356-.029-.03-.03.03L7.754 19.22l.026-.026-.686-.703c-2.8-2.865-2.79-7.494.026-10.349a7.14 7.14 0 0 1 10.173-.026z" stroke="#DC1515" stroke-width="2"/>
                                                </svg>
                                            </button> 
                                            <% } else { %>
                                            <button class="favorite-btn card-buttons">
                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <title>Favorite</title>
                                                    <path d="M17.292 8.116l.708.711.708-.71a7.14 7.14 0 0 1 10.173.025c2.817 2.855 2.825 7.484.026 10.35l-.686.702.026.026-10.218 10.356-.029-.03-.03.03L7.754 19.22l.026-.026-.686-.703c-2.8-2.865-2.79-7.494.026-10.349a7.14 7.14 0 0 1 10.173-.026z" stroke="#DC1515" stroke-width="2"/>
                                                </svg>
                                            </button>
                                            <% } %>
                                        </form>
                                    <% } %>

                                    <!-- If the current user is the author of the recipe, display the edit and delete icons in the recipe card -->
                                    <% if(currentUser && currentUser._id.equals(recipe.author.id)) { %>
                                        <a href="/recipes/<%=recipe._id%>/edit">
                                            <button class="edit-btn card-buttons">
                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <title>Edit Recipe</title>
                                                    <path d="M9 10a1 1 0 0 1 1-1h11a1 1 0 1 1 0 2H10a1 1 0 0 1-1-1zM9 15a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2h-9a1 1 0 0 1-1-1zM9 20a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2h-7a1 1 0 0 1-1-1zM9 25a1 1 0 0 1 1-1h7a1 1 0 1 1 0 2h-7a1 1 0 0 1-1-1z"/>
                                                    <path d="M25.036 5H10a5 5 0 0 0-5 5v16a5 5 0 0 0 5 5h16a5 5 0 0 0 5-5V12.67l-2 3.464V26a3 3 0 0 1-3 3H10a3 3 0 0 1-3-3V10a3 3 0 0 1 3-3h13.881l1.155-2z"/>
                                                    <path d="M28.5 2.598l4.33 2.5-9.5 16.455-4.33-2.5 9.5-16.455zM30 0l4.33 2.5-1 1.732-4.33-2.5L30 0zM19.165 23.767l3.375-1.516-3.75-2.165.375 3.68z"/>
                                                </svg>
                                            </button>
                                        </a>

                                        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST" class="u-inline"> 
                                            <button class="delete-btn card-buttons">
                                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <title>Delete Recipe</title>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31 18c0 7.18-5.82 13-13 13S5 25.18 5 18 10.82 5 18 5s13 5.82 13 13zm-19.445-6.445a1.36 1.36 0 0 1 1.924 0l4.49 4.49 4.489-4.49a1.36 1.36 0 1 1 1.924 1.924l-4.49 4.49 4.49 4.489a1.36 1.36 0 1 1-1.924 1.924l-4.49-4.49-4.489 4.49a1.36 1.36 0 1 1-1.924-1.924l4.49-4.49-4.49-4.489a1.36 1.36 0 0 1 0-1.924z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    <% } %>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>

        <!-- if no recipes are returned from search query, display message -->
        <% } else { %>
            <h3>Sorry, there aren't any matches for <%= query %></h3>
            <a href="/recipes">View all recipes</a>
        <% } %>

    </div>
</div>

<% include ../partials/footer %>