<% include ../partials/header %>

<div class="container">
    <div class="mt-4 row">
        <div class="col-lg-5 order-1 order-lg-0">
            <h1><%= recipe.title %></h1>
            <p class="mb-4">created by: <%=recipe.author.username%></p>
            <hr>
            <p><span class="text-bold">Cooking Time:</span> <%= recipe.time %> </p>
            <p> <%= recipe.description %> </p>

            

        </div>
        <div class="col-lg-7 order-0 order-lg-1">
            <div>
                <img width="100%" src="<%=recipe.image%>" alt="">
            </div>
        </div>
    </div>
    <hr>

    <div class="row mt-3">
        <div class="col-md-3">
            <div class="component-block">
                <h4 class="py-3">Ingredients:</h4>

                <% recipe.ingredients.forEach((ingredient, index) => { %>
                    <p><%= ingredient %></p>
                <% }); %>
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="col-md-12 px-0">
                <div class="component-block">
                    <h4 class="py-3">Directions: </h4>
                    <% recipe.directions.forEach((direction, index) => { %>
                        <p><span class="ingredient"><%= index + 1 %>)</span> <%= direction %> </p>
                    <% }); %>
                </div>
            </div>

            <div class="col-md-12 px-0 py-3">
                <div class="component-block">
                    <h4 class="text-center">Comments:</h4>

                    <% if(currentUser) { %>
                        <form action="/recipes/<%=recipe.id%>/comments" method="POST">
                            <div class="form-group">
                                <textarea name="comment" id="comments" cols="100" rows="2" placeholder="Add a comment here"></textarea>
                            </div>
                            <button class="btn btn-sm btn-primary">Post</button>
                        </form>
                    <% } else { %>
                        <p><a href="/login">Login</a> in to post a comment</p>
                    <% } %>  
                    <hr>

                    <% recipe.comments.forEach((comment) => { %>
                        <h5><%= comment.author.username %></h5>
                        <p><%= comment.text %></p>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>


</div>


<% include ../partials/footer %>